* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #121212;

  overflow-x: hidden;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.set-item {
  display: flex;
  flex-direction: column;
}

.set-title {
  font-weight: 500;
  font-size: 2rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  padding: 2rem 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem;
  width: 100%;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.card-price {
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;

  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.pricing-plan--complete::after {
  content: "Best value";
}

.card-image {
  width: 100%;
  height: 100%;
}
